.movies-count {
  padding: 15px 30px;
  font-size: 25px;
}

.movies-__wrapper {
  display: flex;
}

.movies-container {
  flex: 3 3 75%;
}

.filter-movies__wrapper {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  border-left: 1px solid rgba(182, 182, 182, 0.363);
  padding: 10px;
  flex: 1 1 25%;
  height: max-content;
  position: sticky;
  top: 50px;
}

.movies-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.filters-form {
  min-height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 80%;
}

.pagination__wrapper {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.pagination-link {
  padding: 12px 20px;
  background-color: rgb(78, 18, 134);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.2s;
}

.pagination-link:hover {
  background-color: rgb(112, 51, 170);
}

.link-next {
  margin-inline-start: auto;
}

.link-previous {
  margin-inline-end: auto;
}

.card {
  max-width: 220px;
  background-color: cadetblue;
  margin-inline: 22px;
  margin-block: 22px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.096);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 5px 15px 0px #0000004d;
}

.card-image {
  display: block;
  margin: 0 auto;
  object-fit: cover;
}

.card-footer {
  padding: 15px;
}

.card-link {
  color: whitesmoke;
  text-decoration: none;
  font-weight: 600;
}

.card-link:hover {
  color: white;
}
